<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GT SALES</a>
    <ul class="nav">
        <li class="nav-item">
            <a href="#" [routerLink]="['/administrador/categorias']"
                class="nav-link bg-dark text-light ">
                Categorias

            </a>
        </li>
        <li class="nav-item">
            <a href="#" [routerLink]="['/administrador/denunciadas']"
                class="nav-link bg-dark text-light ">
                Denuncias
            </a>
        </li>
        <li class="nav-item">
            <a href="#" [routerLink]="['/administrador/reportes']"
                class="nav-link bg-dark text-light">
                Reportes
            </a>
        </li>

    </ul>



    <form class="form-inline">
        <button class="btn btn-outline-light mr-sm-2" routerLink="/login">Cerrar Sesión</button>
    </form>
</nav>